{% extends "base.html" %}

{% block content %}
<h1>Demandes</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>ID Client</th>
            <th>ID Propriétaire</th>
            <th>Quantité</th>
            <th>État</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for demande in demandes %}
        <tr>
            <td>{{ demande._id }}</td>
            <td>{{ demande.ID_Client }}</td>
            <td>{{ demande.ID_Proprietaire }}</td>
            <td>{{ demande.quantite }}</td>
            <td>{{ demande.etat }}</td>
            <td>
                <a href="{{ url_for('get_demande', id=demande._id) }}">Voir</a>
                <a href="{{ url_for('edit_demande', id=demande._id) }}">Modifier</a>
                <a href="{{ url_for('delete_demande', id=demande._id) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('create_demande') }}">Créer une nouvelle demande</a>
{% endblock %}
