{% extends "base.html" %}

{% block content %}
<h1>Demandes</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Propriétaire</th>
            <th>Quantité</th>
            <th>État</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for demande in demandes %}
        <tr>
            <td>{{ demande._id }}</td>
            <td>{{ demande.client_info.nom }} {{ demande.client_info.prenom }}</td>
            <td>{{ demande.proprietaire_info.nom }} {{ demande.proprietaire_info.prenom }}</td>
            <td>{{ demande.quantite }} Kg</td>
            <td>{{ demande.etat }}</td>
            <td class="actions">
                <a href="{{ url_for('get_demande', id=demande._id) }}" class="action-button view">Voir</a>
                <a href="{{ url_for('edit_demande', id=demande._id) }}" class="action-button edit">Modifier</a>
                <a href="{{ url_for('delete_demande', id=demande._id) }}" class="action-button delete">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('create_demande') }}" class="create-button">Créer une nouvelle demande</a>
{% endblock %}
