{% extends "base.html" %}

{% block content %}
<h1>Modifier l'utilisateur</h1>
<form method="POST" class="styled-form">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ utilisateur.email }}" required>
    </div>
    <div class="form-group">
        <label for="pwd">Mot de passe:</label>
        <input type="password" id="pwd" name="pwd" value="{{ utilisateur.pwd }}" required>
    </div>
    <div class="form-group">
        <label for="numero">Numéro:</label>
        <input type="text" id="numero" name="numero" value="{{ utilisateur.numero }}" required>
    </div>
    <button type="submit" class="submit-button">Enregistrer</button>
</form>
<a href="{{ url_for('get_utilisateurs') }}" class="back-button">Retour à la liste des utilisateurs</a>
{% endblock %}
